{% load static %}
<div class="container my-3">
  <div class="row bg-info">
    <div class="col-sm col-md col-lg ms-auto pt-3 ps-5">
      <a class ="VOICE" href="#">
        <img src="{% static 'images/mic.svg' %}" alt="VOICE">
      </a>
    </div>
    <div class="col-sm col-md col-lg ms-auto pt-3 ps-5">
      <a class ="STORY" href="#">
        <img src="{% static 'images/book.svg' %}" alt="STORY">
      </a>
    </div>
    <div class="col-sm col-md col-lg ms-auto pt-3 ps-5">
      <a class ="MUSIC" href="#">
        <img src="{% static 'images/music-note.svg' %}" alt="MUSIC">
      </a>
    </div>
    <div class="col-sm col-md col-lg ms-auto pt-3 ps-5">
      <a class ="TEXT" href="#">
        <img src="{% static 'images/card-text.svg' %}" alt="TEXT">
      </a>
    </div>
    <div class="col-sm col-md col-lg ms-auto pt-3 ps-5">
      <a class ="EXTRA" href="#">
        <img src="{% static 'images/list.svg' %}" alt="EXTRA">
      </a>
    </div>
  </div>
</div>